data/*
lines/*
asg/*
adjacency/*
adjacency_unpadded/*
UncompressedLines/*
CompressedLines.zip
modelx/*
PreprocDocstringASGTrain.zip
PreprocDocstringASGValid.zip
PreprocDocstringLinesTrain.zip
PreprocDocstringLinesValid.zip
adjacency_padded/*
AdjacencyUnpadded.zip
AdjacencyUnpaddedClipped.zip
tokens2orig.pkl
PreprocDocstringASGTest.zip
PreprocDocstringLinesTest.zip
data.zip